<div class="mat-dialog-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>
        Login to see all of your favorite movies!
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form class="login-form" #loginForm="ngForm">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            [(ngModel)]="loginData.Username"
            type="text"
            #Username="ngModel"
            name="Username"
            required
          />
          <mat-icon matPrefix>person</mat-icon>
          <mat-error>Username is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            [(ngModel)]="loginData.Password"
            type="password"
            #Password="ngModel"
            name="Password"
            required
          />
          <mat-icon matPrefix>lock</mat-icon>
          <mat-error>Password is required</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button
        mat-raised-button
        color="primary"
        (click)="loginUser()"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
