<!-- src/app/login-form/login-form.component.html -->
<div class="login-container">
  <h1 mat-dialog-title>Login</h1>
  <div mat-dialog-content>
    <p class="subtitle">
      Login to see all of your favorite movies!
    </p>

    <form class="login-form">
      <mat-form-field>
        <input
          matInput
          placeholder="Username"
          [(ngModel)]="loginData.Username"
          type="text"
          name="Username"
          #Username="ngModel"
          required
        />
        <mat-error *ngIf="Username.invalid">Username is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          [(ngModel)]="loginData.Password"
          type="password"
          name="Password"
          #Password="ngModel"
          required
        />
        <mat-error *ngIf="Password.invalid">Password is required</mat-error>
      </mat-form-field>

    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="loginUser()">
      Login
    </button>

  </div>
</div>

