.toolbar-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: #212529;
  color: #fff;
  font-size: 0.95rem;
}
img {
  cursor: pointer;
  padding: 2rem 2rem 2rem 0rem;
}

mat-icon {
  color: white;
}

.fixed-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* This ensures the toolbar stays above other content*/
}
.welcome-message {
  @media (max-width: 490px) {
    display: none;
  }
}
