.mat-dialog-container {
  display: flex;
  padding: 1%;
  margin-top: 1%;
}

.movieCardImg {
  width: 100%;
  height: auto;
  // margin: 5%;
  max-height: 325px;
}

mat-card {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  margin: 1%;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #212529;
  box-shadow: 0 0 10px #000;
  color: #fff;

}

mat-card-header, mat-card-title, mat-card-subtitle {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-card-title{
  font-size: 1.5rem;
  padding-bottom: 1%;
}
mat-card-subtitle{
  font-size: 0.75rem;
  padding-bottom: 2%;
}

hr{
  width: 90%;
  border: 1px solid #fff;
}


.button-group {

  display: flex;
  gap: 5px;
  justify-content: center;

  button {
    color: #000000;
    background-color: #F5CECE;
    min-width: 75px;
    padding: 2px;
  }
}
.icon-group {
  display: flex;
  margin-top: 2.5%;
  gap: 15px;
  justify-content: center;
}
