<!-- src/app/movie-card/movie-card.component.html -->
<mat-card>
  <mat-dialog-content>
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img
        class="movieCardImg"
        src="{{ movie.ImagePath }}"
        alt="{{ movie.Title }}"
      />
      <div class="icon-group">
        <button
          mat-icon-button
          class="icon-button"
          [matTooltip]="
            isFavorite(movie._id)
              ? 'Click to REMOVE from Favorites'
              : 'Click to ADD to Favorites'
          "
          (click)="toggleFavorite(movie._id)"
        >
        <mat-icon >
          {{isFavorite(movie._id) ? 'favorite' : 'favorite_border'}}
        </mat-icon>
        </button>
        <button
          mat-icon-button
          class="icon-button"
          [matTooltip]="
            isToWatch(movie._id)
              ? 'Click to REMOVE from To Watch list'
              : 'Click to ADD to To Watch list'
          "
          (click)="toggleToWatch(movie._id)"
        >
        <mat-icon> {{isToWatch(movie._id)? 'check' : 'add'}}</mat-icon>
        </button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-group">
        <button
          mat-button
          [matTooltip]="'View details about the ' + movie.Genre.Name + ' Genre'"
          (click)="openGenreDialog(movie)"
        >
          Genre
        </button>

        <button
          mat-button
          [matTooltip]="'Learn more about director ' + movie.Director.Name"
          (click)="openDirectorDialog(movie)"
        >
          Director
        </button>

        <button
          mat-button
          [matTooltip]="'Read the synopsis of ' + movie.Title"
          (click)="openSynopsisDialog(movie)"
        >
          Synopsis
        </button>
      </div>
    </mat-card-actions>
  </mat-dialog-content>
</mat-card>
