<!-- src/app/user-registration-form/user-registration-form.component.html -->
<div class="registration-container">
  <h1 mat-dialog-title>Sign Up!</h1>
  <div mat-dialog-content>
    <p class="subtitle">
      Sign up to keep track of all of your favorite movies!
    </p>
    <!-- <img mat-card-image src="{{Movie.ImagePath}}"> -->
    <form class="registration-form">
      <mat-form-field>
        <input
          matInput
          placeholder="Username"
          [(ngModel)]="userData.Username"
          type="text"
          name="Username"
          #Username="ngModel"
          required
        />
        <mat-error *ngIf="Username.invalid">Username is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          [(ngModel)]="userData.Password"
          type="password"
          name="Password"
          #Password="ngModel"
          required
        />
        <mat-error *ngIf="Password.invalid">Password is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          [(ngModel)]="userData.Email"
          type="email"
          name="Email"
          #Email="ngModel"
          required
        />
        <mat-error *ngIf="Email.invalid">Email is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Birthday"
          [(ngModel)]="userData.Birthday"
          type="date"
          name="Birthday"
          #Birthday="ngModel"
          required
        />
        <mat-error *ngIf="Birthday.invalid">Birthday is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="First Name"
          [(ngModel)]="userData.FirstName"
          type="text"
          name="FirstName"
          #FirstName="ngModel"
          required
        />
        <mat-error *ngIf="FirstName.invalid">First name is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Last Name"
          [(ngModel)]="userData.LastName"
          type="text"
          name="LastName"
          #LastName="ngModel"
          required
        />
        <mat-error *ngIf="LastName.invalid">Last name is required</mat-error>
      </mat-form-field>
    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="registerUser()">
      Sign Up
    </button>
  </div>
</div>
